meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0",name="viewport")
meta(content="yes",name="apple-mobile-web-app-capable")
meta(content="black",name="apple-mobile-web-app-status-bar-style")
meta(content="telephone=no",name="format-detection")
meta(name="baidu-site-verification" ,content="qmafMDEIGX")
meta(charset="UTF-8")
meta(name="renderer",content="webkit")

link(rel="short icon", href="/images/favicon.ico" , type="image/x-icon")
link(rel="stylesheet", href= url_for('css/main.css'))
script(src="//lib.baomitu.com/jquery/3.5.0/jquery.min.js")
script(async, src=url_for('js/main.js'))
link(rel="alternate" type="application/atom+xml" title="ATOM 1.0" href="/atom.xml")
